name: Package
on: push

defaults:
  run:
    shell: bash

jobs:
  build-wheel:
    name: Build wheel
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive

      - uses: ilammy/msvc-dev-cmd@v1

      - uses: pypa/cibuildwheel@v3.3.1
